mat-grid-tile {
    background: lightblue;
  }

app-dashboard-statistics{
    width: 96%;
    height: 93%;
}
app-dashboard-small-card{
    width: 90%;
    height: 80%;
}
app-dashboard-low-inventory-card{
    width: 96%;
    height: 90%;
}
app-dashboard-data-filter-card{
    width: 91%;
    height: 96%;
}