<mat-card>
    <mat-card-title>Overview Statistics</mat-card-title>
    <mat-divider style="width: 50%;"></mat-divider>
    <br>
    <mat-card-content>
      <div>
        Total number of products: 200
      </div>
      <div>
        Total inventory items of all products: 2000
      </div>
      <div>
        Total storage in warehouse cost per month for total inventory: 50000
      </div>
      <!-- <ngx-charts-pie-chart [results]="pieChartData"></ngx-charts-pie-chart> -->
      <div>
        Number of products with low inventory: 10
      </div>
    </mat-card-content>
  </mat-card>