<mat-sidenav-container class="Pink2ColorTheme">
  <mat-sidenav
    #sidenav mode="side"
    fixedInViewport
    [opened]="true"
    [disableClose]="true"
    class="Green2ColorTheme"
  >
    <mat-toolbar class="Green1ColorTheme">Menu</mat-toolbar>
    <mat-nav-list>
      <app-menu-navigation-tree></app-menu-navigation-tree>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="Pink2ColorTheme">
    <mat-toolbar  class="matToolbar Green1ColorTheme" > 
      <span>Stock Management Tool</span>
      <span class="spacer"></span>
      <button mat-icon-button class="icon right-button" aria-label=" icon-button with share icon" (click)="RedirectToRepository()">
        <img src="../../assets/images/github-mark.svg" alt="GitHub">
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
